@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
 .link-active{
    @apply text-secondaryop-700;
 }
 .sidebar-inactive{
   @apply w-full flex items-center h-10 pl-4 hover:bg-primaryop-100 rounded-lg cursor-pointer block;
 }
 .sidebar-inactive:hover > *:first-child {
   @apply text-secondary;
 } 
 .sidebar-inactive:hover > *:last-child {
   @apply text-primary;
 } 
 .sidebar-inactive > *:first-child {
   @apply text-blue-400;
 }
 .sidebar-inactive > *:last-child {
   @apply text-white;
 }
 .sidebar-active{
   @apply w-full flex items-center h-10 pl-4 bg-primaryop-100 hover:bg-primaryop-100 rounded-lg cursor-pointer block;
 }
 .sidebar-active > *:first-child {
   @apply text-secondary;
 }
 .sidebar-active > span.text-white {
   @apply text-primary;
 }

 .tab-active{
  @apply cursor-pointer text-primaryop-700;
  transform: scale(1.05)
}
 .tab-inactive{
  @apply cursor-pointer;
}

.tab-active:hover{
  @apply text-primaryop-700;

}
.tab-inactive:hover{
  @apply text-primaryop-700;
}

.navbar-active{
  @apply py-2 pl-3 pr-4 text-secondaryop-700 bg-primary rounded lg:bg-transparent lg:p-0 dark:text-white flex items-center gap-1;
}

.navbar-inactive{
  @apply py-2 pl-3 pr-4 lg:text-primary bg-primary rounded lg:bg-transparent text-white lg:p-0 dark:text-white flex items-center gap-1;
}

.navbar-inactive:hover{
  @apply py-2 pl-3 pr-4 text-secondaryop-700 bg-primary rounded lg:bg-transparent lg:p-0 dark:text-white flex items-center gap-1;
}

}

.card-animate {
  transition: all 0.45s ease-in-out;
}
.card-animate:hover{
  transform: scale(1.15); 
}
.app-table th:last-child,
.app-table td:last-child{
  position: sticky;
  right: 0;
  z-index: 1;
  background-color: #f9fafb;
}